
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#app{
    background-image: url('../images/body_bg.png');
    height: 100%;
    position: relative;
}
.login-form{
    /* 水平垂直居中 */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;

    width: 400px;
    height: 320px;
    background-color: #fff;
    border-radius: 6px;
    padding-right: 30px;
}
#app .login-form .title{
    padding-left: 40px;
}